## WEEK 5 Peer Graded Assignment - Introduction to Deep Learning & Neural Networks with Keras

## D. Increase the number of hidden layers

In [1]:
import pandas as pd
import numpy as np

In [3]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
concrete_data.shape

(1030, 9)

In [5]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [7]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [8]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors

### Import Keras

In [11]:
import keras

In [12]:
from keras.models import Sequential
from keras.layers import Dense

In [13]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

### Train & Test the Network

In [16]:
# build the model
model = regression_model()

In [17]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=2)

Epoch 1/50
23/23 - 0s - loss: 1581.3184
Epoch 2/50
23/23 - 0s - loss: 1560.3315
Epoch 3/50
23/23 - 0s - loss: 1527.1176
Epoch 4/50
23/23 - 0s - loss: 1474.9263
Epoch 5/50
23/23 - 0s - loss: 1398.9951
Epoch 6/50
23/23 - 0s - loss: 1289.2678
Epoch 7/50
23/23 - 0s - loss: 1138.6418
Epoch 8/50
23/23 - 0s - loss: 951.3562
Epoch 9/50
23/23 - 0s - loss: 733.8150
Epoch 10/50
23/23 - 0s - loss: 532.2698
Epoch 11/50
23/23 - 0s - loss: 382.0758
Epoch 12/50
23/23 - 0s - loss: 297.8315
Epoch 13/50
23/23 - 0s - loss: 260.5451
Epoch 14/50
23/23 - 0s - loss: 236.8365
Epoch 15/50
23/23 - 0s - loss: 222.3566
Epoch 16/50
23/23 - 0s - loss: 210.8204
Epoch 17/50
23/23 - 0s - loss: 201.4949
Epoch 18/50
23/23 - 0s - loss: 193.6819
Epoch 19/50
23/23 - 0s - loss: 187.3084
Epoch 20/50
23/23 - 0s - loss: 181.5261
Epoch 21/50
23/23 - 0s - loss: 175.4394
Epoch 22/50
23/23 - 0s - loss: 170.4853
Epoch 23/50
23/23 - 0s - loss: 165.9335
Epoch 24/50
23/23 - 0s - loss: 161.7281
Epoch 25/50
23/23 - 0s - loss: 158.3099
Epoch 26/50
23/23 - 0s - loss: 155.0038
Epoch 27/50
23/23 - 0s - loss: 151.3084
Epoch 28/50
23/23 - 0s - loss: 148.1593
Epoch 29/50
23/23 - 0s - loss: 145.6549
Epoch 30/50
23/23 - 0s - loss: 142.9477
Epoch 31/50
23/23 - 0s - loss: 140.2548
Epoch 32/50
23/23 - 0s - loss: 137.8638
Epoch 33/50
23/23 - 0s - loss: 135.7463
Epoch 34/50
23/23 - 0s - loss: 133.4276
Epoch 35/50
23/23 - 0s - loss: 131.3453
Epoch 36/50
23/23 - 0s - loss: 129.0304
Epoch 37/50
23/23 - 0s - loss: 127.1325
Epoch 38/50
23/23 - 0s - loss: 125.1418
Epoch 39/50
23/23 - 0s - loss: 123.1832
Epoch 40/50
23/23 - 0s - loss: 121.5772
Epoch 41/50
23/23 - 0s - loss: 119.7422
Epoch 42/50
23/23 - 0s - loss: 118.0601
Epoch 43/50
23/23 - 0s - loss: 116.4265
Epoch 44/50
23/23 - 0s - loss: 114.5619
Epoch 45/50
23/23 - 0s - loss: 113.0796
Epoch 46/50
23/23 - 0s - loss: 111.3644
Epoch 47/50
23/23 - 0s - loss: 109.9077
Epoch 48/50
23/23 - 0s - loss: 108.7373
Epoch 49/50
23/23 - 0s - loss: 107.2377
Epoch 50/50
23/23 - 0s - loss: 105.7393

In [18]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 2ms/step - loss: 105.9193

105.91930389404297

In [19]:
from sklearn.metrics import mean_squared_error

In [20]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

105.91930138838111 0.0

In [21]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 72.53592681884766
MSE 2: 67.22653198242188
MSE 3: 45.12548828125
MSE 4: 41.75823211669922
MSE 5: 39.09405517578125
MSE 6: 40.071624755859375
MSE 7: 40.8192253112793
MSE 8: 33.46257781982422
MSE 9: 32.00083541870117
MSE 10: 30.78516960144043
MSE 11: 29.990619659423828
MSE 12: 25.803983688354492
MSE 13: 30.654489517211914
MSE 14: 36.57863235473633
MSE 15: 28.9803524017334
MSE 16: 23.591537475585938
MSE 17: 27.632863998413086
MSE 18: 26.820568084716797
MSE 19: 23.902467727661133
MSE 20: 30.11801528930664
MSE 21: 23.12232208251953
MSE 22: 25.27353858947754
MSE 23: 20.55228614807129
MSE 24: 22.799057006835938
MSE 25: 25.79118537902832
MSE 26: 30.832744598388672
MSE 27: 24.4056396484375
MSE 28: 24.589967727661133
MSE 29: 24.754600524902344
MSE 30: 22.256498336791992
MSE 31: 20.477996826171875
MSE 32: 18.530241012573242
MSE 33: 17.999914169311523
MSE 34: 22.528993606567383
MSE 35: 26.167152404785156
MSE 36: 27.50188636779785
MSE 37: 19.125444412231445
MSE 38: 23.30236053466797
MSE 39: 22.201074600219727
MSE 40: 19.216991424560547
MSE 41: 22.72563362121582
MSE 42: 20.345151901245117
MSE 43: 20.88297462463379
MSE 44: 26.438457489013672
MSE 45: 25.10797882080078
MSE 46: 21.999258041381836
MSE 47: 20.555662155151367
MSE 48: 19.858068466186523
MSE 49: 22.567445755004883
MSE 50: 20.639902114868164


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 50

Mean: 28.1900722113745
Standard Deviation: 10.674899191260947